# Ignore Gradle project-specific cache directory
.gradle
.vscode

# Ignore Gradle build output directory
/app/build
/app/bin

# Don't make internal data available
/data
/crs
/app/src/test/resources/testdata

# DB-Files
/*.db 
/*.db-journal

# Jupyter checkpoints
**/.ipynb_checkpoints
.cache/
.ipython/


# CRE Logfiles

CRE.log
CRE.log.*