# Ignore Gradle project-specific cache directory
.gradle
.vscode

# Ignore Gradle build output directory
/app/build
/app/bin

# Don't make internal data available
/data
/crs
/app/src/test/resources/testdata

# DB-Files
db/
/*.db 
/*.db-journal

# Jupyter checkpoints
**/.ipynb_checkpoints
.cache/
.ipython/


# Logfiles
/*.log
CRE.log
CRE.log.*

# Idea
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml


# Build report
/build


.venv
my-project
site